@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    color:  rgba(12, 10, 10, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

#header {
    padding: 24px 0;
    background-color: rgba(12, 10, 10, 1);
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
}

#header .container::after {
    content: '';
    display: block;
    clear: both;
}

.menu-wrap {
    float: left;
}

.menu a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.menu>li {
    display: inline;
    padding: 0 16px;
    position: relative;
}

.menu li:hover {
    text-decoration: underline;
}

.menu li:hover>.drop {
    display: block;
    border-radius: 4px;
}

.drop {
    width: 120px;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 26, 255, 1);
    border: 2px;
    border-radius: 4px;
    display: none;
}

.drop .drop {
    top: 0;
    left: 100%;
}

.drop>li {
    position: relative;
    padding: 2px 10px;
}

.drop a {
    display: block;
}